modules = ["nodejs-20", "web", "php-8.2", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38177
externalPort = 3001

[[ports]]
localPort = 46081
externalPort = 3002

[[ports]]
localPort = 46551
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "railway:start"]
build = ["npm", "run", "build"]
