/* (1366x768) WXGA Display */
@media  screen and (min-width: 1366px) and (max-width: 1919px) {
	.container.booking {
		overflow: hidden;
	}
	.booking-wrap {
		padding: 50px 0;
	}
	.booking-wrap input, .booking-wrap select {
		background: transparent;
	}
	.booking-image2 {
		z-index: -9;
	}
	.slider-active .owl-nav div {
		right: 8.6%;
	}
	.slider-active .owl-nav div.owl-prev {
		right: 12.25%;
	}
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1197px) {
    .slider-contents h3 {
        font-size: 30px;
        line-height: 45px;
    }
    .slider-active .owl-nav div {
        right: 2%;
    }
    .slider-active .owl-nav div.owl-prev {
        right: 7.1%;
    }
    .about-wrap {
        padding: 30px 0px;
    }
    .menu-wrap {
        padding: 40px 15px 40px 90px;
    }
    .team-wrap {
        padding: 30px 5px;
    }
    .booking-image2,.footer-img {
        display: none;
    }
    .booking-wrap {
        padding: 20px 0;
    }
    .booking-images {
        height: 455px !important;
    }
    .newsletter-content h3 {
        font-size: 25px;
    }
    .footer-contact {
        margin-left: 0px;
    }
    .slider-area2 .slider-items {
        height: 564px;
    }
    .service-wrap {
        padding: 55px 27px;
    }
    .blog-content {
        padding-top: 15px;
    }
    .pl-50 {
        padding-left: 0;
    }
    .faq-wrap h4 span {
        line-height: 60px;
    }
    .blog-content h4 a {
        font-size: 16px;
    }
    .error-wrap {
        padding: 0;
    }
    .blog-video iframe {
        height: 316px;
    }
    .shop-list-area .shop-content {
        padding: 30px 1px 30px 10px;
    }
}
/* Normal desktop :991px. */
@media (min-width: 768px) and (max-width: 991px) {
    .slider-items {
        height: 520px;
    }
    .slider-contents h3 {
        font-size: 35px;
        line-height: 45px;
    }
    .slider-active .owl-nav div {
        right: 2%;
    }
    .slider-active .owl-nav div.owl-prev {
        right: 8.5%;
    }
    .about-wrap {
        padding: 0px 0px 50px;
        height: 315px !important;
    }
    .booking-images {
        display: none;
    }
    .booking-wrap {
        padding: 31px 0;
    }
    .testmonial-content {
        text-align: center;
        margin: 35px 0px 0px;
    }
    .newsletter-content {
        text-align: center;
        margin-bottom: 25px;
    }
    .testmonial-thumbnil ul.thumb-img1 {
        margin-bottom: 10px;
    }
    .footer-contact {
        margin-left: 0;
    }
    .footer-menu {
        margin-left: 0;
    }
    .footer-contact ul li a {
        height: 28px;
        width: 28px;
        line-height: 28px;
    }
    .footer-contact ul li {
        margin: 0px 0px;
    }
    .footer-top-area {
        padding: 230px 0px 100px;
    }
    .footer-area {
        margin-top: -130px;
    }
    .slider-area2 .slider-items {
        height: 557px;
    }
    .sm-mb-30{margin-bottom: 30px;}
    .pl-50 {
        padding-left: 0;
    }
    .about-page-wrap h2 {
        margin-bottom: 20px;
    }
    .about-page-img {
        height: 400px;
    }
    .about-page-wrap2 {
        padding: 30px 0px 0px;
    }
    .about-page-wrap2 p:last-child{
        margin-bottom: 0px;
    }
    .about-page-wrap.about-page-wrap2.pl-50 {
        height: 300px !important;
    }
    .team-page-wrap {
        width: 315px;
    }
    .left-sidebar{
        margin-bottom: 50px;
    }
    .right-sidebar{
        margin-top: 50px;
    }
    .error-wrap {
        padding: 0;
    }
    .mainmenu ul li {
        margin-left: 35px;
    }
    .checkout-form-wrap.mb-20{
        margin-bottom: 50px;
    }
}

/* small mobile :320px. */
@media (max-width: 767px) {
    .container{width: 100%}
    .slider-items {
        height: 500px;
    }
    .slider-contents h3 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .slider-contents {
        padding-top: 80px;
    }
    .slider-active .owl-nav div {
        right: 3%;
    }
    .slider-active .owl-nav div.owl-prev {
        right: 18.6%;
    }
    .about-wrap {
        padding: 0px 0px 50px;
    }
    .about-img {
        height: 256px !important;
    }
    .tabmenu ul li a {
        width: 130px;
        margin-bottom: 5px;
    }
    .quote-wrap h3,.quote-wrap h4 {
        font-size: 24px;
        line-height: 35px;
    }
    .section-title h3 {
        font-size: 24px;
    }
    .menu-images,.booking-images,.booking-image2 {
        display: none;
    }
    .menu-wrap {
        margin-left: 0;
        padding: 105px 0px 40px 20px;
        margin-bottom: 80px;
    }
    .menu-img {
        position: absolute;
        left: 50%;
        top: -40px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
    }
    .menu-content h4 {
        font-size: 16px;
    }
    .menu-area {
        padding: 100px 0px 20px;
    }
    .quote-area2 .quote-wrap h3 {
        font-size: 35px;
        line-height: 45px;
    }
    .booking-wrap {
        padding: 0;
    }
    .booking-wrap .booknow-btn{
        margin-bottom: 20px;
    }
    .testmonial-content {
        margin: 35px 0px 0;
    }
    .newsletter-wrap {
        padding: 40px 10px;
    }
    .newsletter-content h3 {
        font-size: 23px;
        margin-bottom: 20px;
    }
    .newsletter-form button {
        width: 120px;
        font-size: 10px;
    }
    .footer-logo {
        padding: 0px 0px 20px;
        text-align: left;
    }
    .footer-contact,.footer-menu {
        margin-left: 0;
    }
    .footer-widget {
        margin-bottom: 40px;
    }
    .footer-top-area {
        padding: 200px 0px 60px;
    }
    .footer-area {
        margin-top: -110px;
    }
    .footer-logo {
        padding: 0px 0px 20px;
        text-align: left;
        margin-bottom: 0px;
    }
    .responsive-menu-wrap .slicknav_nav {
        width: 290px;
    }
    .xs-mb-30{margin-bottom: 30px;}
    .header-area2 .responsive-menu-wrap .slicknav_menu {
        padding: 25px 0;
    }
    .social-media-icon {
        text-align: center;
    }
    .header-area2 .header-top-right {
        padding: 20px 0px 0;
        float: none;
        margin-left: 0px;
				width: 100%;
				text-align:center;

    }
    .slider-area2 .slider-items {
        height: 399px;
    }
    .slider-active2 .owl-nav div {
        left: 3px;
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
    .slider-active2 .owl-nav div.owl-next{
        right: 3px;
    }
    .service-wrap {
        padding: 55px 25px;
    }
    .blog-content {
        padding-top: 25px;
    }
    .about-page-wrap h2 {
        margin-bottom: 20px;
    }
    .about-page-img {
        height: 400px;
    }
    .about-page-wrap2 {
        padding: 30px 0px 0px;
    }
    .about-page-wrap2 p:last-child{
        margin-bottom: 0px;
    }
    .about-page-wrap.about-page-wrap2.pl-50 {
        height: 445px !important;
    }
    .pl-50 {
        padding-left: 0;
    }
    .about-page-wrap h2 {
        margin-bottom: 20px;
        font-size: 19px;
        line-height: 30px;
    }
    .team-page-wrap {
        width: 100%;
    }
    .testmonial-area3 .test-content h4 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .faq-wrap h4 span {
        line-height: 80px;
    }
    .left-sidebar{
        margin-bottom: 50px;
    }
    .right-sidebar{
        margin-top: 50px;
    }
    .blog-details-img ul.blog-meta {
        position: static;
        width: 100%;
        padding: 15px;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        text-align: center;
    }
    .blog-details-img ul.blog-meta li{
        display: block;
        margin: 0px;
    }
    .blog-details-img ul.blog-meta li:first-child{
        margin-right: 0px;
    }
    .blog-details-wrap h3 {
        font-size: 20px;
    }
    .blog-details-wrap h3 span{
        display: inline-block;
    }
    .blog-tags ul {
        padding: 0px 0px;
    }
    .blog-tags ul::before{
        display: none;
    }
    .comment-theme {
        float: none;
        margin-bottom: 25px;
    }
    .comment-main-area {
        margin-left: 0;
    }
    .comment-wrap1 {
        margin-left: 30px;
    }
    .contact-wrap {
        padding: 50px 15px;
    }
    .contact-area{
        padding: 100px 0px;
    }
    .footer-area2{
        margin: 0px;
    }
    .error-wrap {
        padding: 0;
    }
    .error-page-area {
        padding: 100px 0px;
    }
    .shop-list-area .shop-img {
        float: none;
        width: 100%;
        height: 250px !important;
    }
    .shop-list-area .shop-content {
        float: none;
        width: 100%;
        padding: 30px;
    }
    .breadcumb-wrap h2 {
        font-size: 35px;
    }
    .checkout-form-wrap.mb-20{
        margin-bottom: 50px;
    }
    .checkout-form {
        padding: 30px 10px 30px;
    }
}
/* small mobile :320px. */
@media  (min-width: 600px) and (max-width: 767px) {
    .container{width:100%}
    .col-2{
        float: left;
        width: 50%;
    }
    .booking-wrap {
        margin-right: 160px;
    }
    .booking-image2 {
        display: block;
        top: 80px;
    }
    .service-wrap {
        padding: 55px 40px;
    }
    .faq-wrap h4 span {
        line-height: 45px;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {width:100%}
    .responsive-menu-wrap .slicknav_nav {
        width: 450px;
    }
    .faq-wrap h4 span {
        line-height: 60px;
    }
}
